@charset "utf-8";

// If need, change your variables before importing Bulma

$family-primary: "Montserrat", sans-serif;
$title-family: "Muli", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$primary: #ff8700;

$title-color: $primary;

$link: $primary;

$card-shadow: 0;

$navbar-background-color: hsl(0, 0%, 21%);
$navbar-item-color: white;
$navbar-item-hover-background-color: hsl(0, 0%, 14%);
$navbar-item-hover-color: white;

$tabs-border-bottom-color: hsl(0, 0%, 21%);
$tabs-link-color: white;
$tabs-link-hover-border-bottom-color: $primary;
$tabs-link-hover-color: $primary;
$tabs-link-padding: 0.75em 1em;

$box-padding: 0;

$section-padding: 5rem 3rem;

$dimensions: 160 256;

@import "bulma/bulma.sass";

section:nth-child(odd) {
  background-color: $white-ter;
}

.section {
  @include mobile {
    padding: 3rem 1rem;
  }
}

.underlined-heading:after {
  background-color: $primary;
  border: 2px solid $primary;
  content: '';
  display: block;
  margin-top: 0.5rem;
  width: 3rem;
}

.has-text-shadow {
  text-shadow: 0px 0px 10px $black-ter;
}

// components

.navbar-item img {
  margin-bottom: 0;
  max-height: 2.25rem;
}

.hero-background {
  height: 100%;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  width: 100%;
}

.is-transparent-30 {
  opacity: 0.3;
}

.is-transparent-80 {
  opacity: 0.5;
}

.card-border {
  border: 1px solid $grey-lighter;
}

.card-max {
  @include mobile {
    max-width: 400px;
  }
}

.desktop-card-max {
  @include until-widescreen {
    max-width: 300px;
  }
}

.is-full-height {
  height: 100%;
}

.background-gradient {
  background-image: linear-gradient(transparent, hsla(0, 0%, 0%, 0.5));
}

.dynamic-padding {
  @include until-widescreen {
    padding: 1.5rem;
  }
  @include widescreen {
    padding: 1rem;
  }
}

// index.js

.has-small-line-height {
  line-height: 1.15;
}

.index-services-column > div + div {
  margin-top: 1rem;
}

// about.js

.values-column > article + article {
  margin-top: 3rem;
}

.founders-container > article + article {
  margin-top: 3rem;
}

.founder-image {
  margin-bottom: 0.25rem;
  @include mobile {
    margin-left: auto;
    margin-right: auto;
  }
  @include tablet {
    float: left;
    margin-right: 2rem;
  }
}

// solutions.js

.is-large-text {
  font-size: 72px;
}

// services.js

.has-boxed-counter {
  counter-reset: counter;
  list-style: none;
  padding-left: 3rem;
}

.has-boxed-counter li {
  counter-increment: counter;
  margin-top: 1rem;
  position: relative;
}

.has-boxed-counter li::before {
  border: 1px $white-ter solid;
  color: $white-ter;
  content: counter(counter);
  height: 2rem;
  left: -3rem;
  position: absolute;
  text-align: center;
  width: 2rem;
}

// testimonals.js

.is-active-transition {
  opacity: 1;
  transition: 300ms ease;
}

.is-inactive-transition {
  opacity: 0;
  transition: 300ms ease;
}

.is-scrollable {
  overflow: auto;
}

.is-min-full-height {
  min-height: 100%;
}

.testimonial-columns {
  margin: auto;
  max-width: 1000px;
}

.testimonial-column + .testimonial-column {
  @include tablet {
    border-left: 1px solid $grey-lighter;
  }
}
