@charset "utf-8";

// If need, change your variables before importing Bulma
$primary: #FF8700;

$title-color: $primary;

$link: $primary;

$card-shadow: 0;

$navbar-background-color: hsl(0, 0%, 21%);
$navbar-item-color: white;
$navbar-item-hover-background-color: hsl(0, 0%, 14%);
$navbar-item-hover-color: white;

$tabs-border-bottom-color: hsl(0, 0%, 21%);
$tabs-link-color: white;
$tabs-link-hover-border-bottom-color: $primary;
$tabs-link-hover-color: $primary;

$box-padding: 0;

$section-padding: 5rem 3rem;

@import "~bulma/bulma.sass";

.section {
  @include mobile {
    padding: 3rem 1rem;
  }
}

body, button, input, select, textarea {
  font-family: inherit;
}

.navbar-item img {
  margin-bottom: 0;
  max-height: 2.25rem;
}

.is-active-transition {
  opacity: 1;
  transition: 300ms ease;
}

.is-inactive-transition {
  opacity: 0;
  transition: 300ms ease;
}

.is-scrollable {
  overflow: auto;
}

.is-min-full-height {
  min-height: 100%;
}

.is-full-height {
  height: 100%;
}

section:nth-child(odd) {
  background-color: hsl(0, 0%, 96%);
}

.has-background {
  overflow: hidden;
  position: relative;
}

.hero-background {
  height: 100%;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  width: 100%;
}

.card-border {
  border: 1px solid hsl(0, 0%, 86%);
}

.align-end {
  align-items: flex-end;
  display: flex;
  height: 100%;
}

.background-gradient {
  background-image: linear-gradient(transparent, transparent, hsla(0, 0%, 0%, 0.5));
}

.underlined-heading:after {
  background-color: $primary;
  border: 2px solid $primary;
  content: '';
  display: block;
  margin-top: 0.5rem;
  width: 3rem;
}

.testimonial-column + .testimonial-column {
  @include tablet {
    border-left: 1px solid hsl(0, 0%, 86%);
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.space-between {
  justify-content: space-between;
}

.index-services-column > article + article {
  margin-top: 1rem;
}

.link-align-end {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.has-boxed-counter {
  counter-reset: counter;
  list-style: none;
  padding-left: 3rem;
}

.has-boxed-counter li {
  counter-increment: counter;
  margin-top: 1rem;
  position: relative;
}

.has-boxed-counter li::before {
  border: 1px hsl(0, 0%, 96%) solid;
  color: hsl(0, 0%, 96%);
  content: counter(counter);
  height: 2rem;
  left: -3rem;
  position: absolute;
  text-align: center;
  width: 2rem;
}
