@charset "utf-8";

// If need, change your variables before importing Bulma
$primary: #FF8700;

$title-color: $primary;

$card-shadow: 0;

$navbar-background-color: hsl(0, 0%, 21%);
$navbar-item-color: white;
$navbar-item-hover-background-color: hsl(0, 0%, 14%);
$navbar-item-hover-color: white;

$tabs-border-bottom-color: hsl(0, 0%, 21%);
$tabs-link-color: white;
$tabs-link-hover-border-bottom-color: $primary;
$tabs-link-hover-color: $primary;

$box-padding: 0;

@import "~bulma/bulma.sass";

body, button, input, select, textarea {
    font-family: inherit;
}

.globalplex-orange {
    color: #FF8700;
}

.navbar-item img {
    margin-bottom: 0;
    max-height: 2.25rem;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(241, 139, 21, 0.85);;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    text-align: left;
    }

.card:hover .overlay {
    height: 100%;
    }

.vertical-center {
    margin: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.is-full-height {
  height: 100%;
}

section:nth-child(odd) {
  background-color: hsl(0, 0%, 96%);
}

.has-background {
  overflow: hidden;
  position: relative;
}

.hero-background {
  height: 100%;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  width: 100%;
}

.card-border {
  border: 1px solid hsl(0, 0%, 86%);
}

.align-end {
  align-items: flex-end;
  display: flex;
  height: 100%;
}

.background-gradient {
  background-image: linear-gradient(transparent, transparent, hsla(0, 0%, 0%, 0.5));
}

.underlined-heading:after {
  border: 2px solid $primary;
  content: '';
  display: block;
  margin-top: 0.5rem;
  width: 3rem;
}
